CODIGO FUENTE/Producto Unidad2.json
[{"id":"519e3d50.eb531c","type":"tab","label":"Producto Unidad 2","disabled":false,"info":""},{"id":"4e09474b.909738","type":"ui_gauge","z":"519e3d50.eb531c","name":"Gráfico Temp 1","group":"305a324b.14a87e","order":6,"width":0,"height":0,"gtype":"gage","title":"Gráfico 1","label":"Grados °C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"85","x":460,"y":280,"wires":[]},{"id":"556e4373.7ed464","type":"ui_slider","z":"519e3d50.eb531c","name":"Deslizar","label":"Deslizar","tooltip":"","group":"305a324b.14a87e","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"10","step":1,"x":120,"y":340,"wires":[["8b71da5d.74d658"]]},{"id":"57e4bc82.6d26a4","type":"ui_gauge","z":"519e3d50.eb531c","name":"Gráfico Temp 2","group":"9f5f58a2.de1108","order":4,"width":0,"height":0,"gtype":"donut","title":"Gráfico 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#18dded","#40d307","#f1f80a"],"seg1":"35","seg2":"85","x":1240,"y":40,"wires":[]},{"id":"5b7dfa26.06f3b4","type":"ui_slider","z":"519e3d50.eb531c","name":"","label":"Deslizador 1","tooltip":"","group":"9f5f58a2.de1108","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slide 1","min":0,"max":"100","step":1,"x":910,"y":100,"wires":[["8e523e50.a7d57","cf62c277.0ad588","375041cb.ea86fe","98d07122.6bedb","57e4bc82.6d26a4"]]},{"id":"c422ce61.2f1","type":"ui_slider","z":"519e3d50.eb531c","name":"","label":"Deslizador 2","tooltip":"","group":"9f5f58a2.de1108","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slider 2","min":0,"max":"100","step":1,"x":910,"y":160,"wires":[["8e523e50.a7d57","cf62c277.0ad588","98d07122.6bedb","375041cb.ea86fe"]]},{"id":"3a78afc4.cc1e08","type":"ui_slider","z":"519e3d50.eb531c","name":"","label":"Deslizador 3","tooltip":"","group":"9f5f58a2.de1108","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slider 3","min":0,"max":"100","step":1,"x":910,"y":220,"wires":[["8e523e50.a7d57","cf62c277.0ad588","375041cb.ea86fe","98d07122.6bedb"]]},{"id":"c6d8f9c0.4f5e48","type":"ui_button","z":"519e3d50.eb531c","name":"Botón3","group":"305a324b.14a87e","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"#0CD6F1","bgcolor":"","icon":"twitter","payload":"Redes sociales","payloadType":"str","topic":"","x":120,"y":140,"wires":[["136d4c4a.86b01c"]]},{"id":"ab881ba8.6d5bd","type":"ui_button","z":"519e3d50.eb531c","name":"Botón4","group":"305a324b.14a87e","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"green","bgcolor":"","icon":"fa-car ","payload":"Cómo llegar","payloadType":"str","topic":"","x":120,"y":180,"wires":[["136d4c4a.86b01c"]]},{"id":"c2c59ee3.605d98","type":"ui_button","z":"519e3d50.eb531c","name":"Botón2","group":"305a324b.14a87e","order":2,"width":"2","height":"1","passthru":false,"label":"HELLO","tooltip":"","color":"black","bgcolor":"","icon":"fa-female","payload":"Bienvenido","payloadType":"str","topic":"","x":120,"y":100,"wires":[["136d4c4a.86b01c"]]},{"id":"4bfe6782.fcd188","type":"ui_button","z":"519e3d50.eb531c","name":"Botón1","group":"305a324b.14a87e","order":1,"width":"2","height":"1","passthru":false,"label":"","tooltip":"","color":"red","bgcolor":"","icon":"fa-male ","payload":"Ubicación","payloadType":"str","topic":"","x":120,"y":60,"wires":[["136d4c4a.86b01c"]]},{"id":"181e8315.d42535","type":"ui_numeric","z":"519e3d50.eb531c","name":"numeric","label":"Seleccionar el número","tooltip":"","group":"305a324b.14a87e","order":10,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"10","x":120,"y":280,"wires":[["4e09474b.909738"]]},{"id":"a981492.a07b638","type":"ui_dropdown","z":"519e3d50.eb531c","name":"Escoger opción","label":"Seleccione una opción","tooltip":"","place":"","group":"305a324b.14a87e","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":true,"type":"bool"},{"label":"","value":"encendido","type":"str"},{"label":"","value":100,"type":"num"}],"payload":"","topic":"","x":140,"y":440,"wires":[[]]},{"id":"8faed3e2.03a87","type":"ui_switch","z":"519e3d50.eb531c","name":"Switch ","label":"Switch","tooltip":"","group":"305a324b.14a87e","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":380,"wires":[["4e09474b.909738"]]},{"id":"56d28809.7828c","type":"ui_text","z":"519e3d50.eb531c","group":"305a324b.14a87e","order":9,"width":0,"height":0,"name":"Mostra Temp.","label":"Valor","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":320,"wires":[]},{"id":"a2782993.a5fd48","type":"ui_dropdown","z":"519e3d50.eb531c","name":"Escoger Número","label":"Escoger numeros","tooltip":"","place":"Select option","group":"9f5f58a2.de1108","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":0,"type":"num"},{"label":"","value":25,"type":"num"},{"label":"","value":50,"type":"num"},{"label":"","value":75,"type":"num"},{"label":"","value":100,"type":"num"}],"payload":"","topic":"","x":710,"y":140,"wires":[["5b7dfa26.06f3b4"]]},{"id":"5669f79.4352c08","type":"ui_colour_picker","z":"519e3d50.eb531c","name":"Selec. Color","label":"Presionar","group":"9f5f58a2.de1108","format":"hex8","outformat":"object","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":11,"width":0,"height":0,"passthru":true,"topic":"","x":690,"y":80,"wires":[["5b7dfa26.06f3b4"]]},{"id":"8e523e50.a7d57","type":"ui_chart","z":"519e3d50.eb531c","name":"Cuadro Pastel","group":"6ff0215.a73386","order":2,"width":0,"height":0,"label":"Pie Chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":80,"wires":[[]]},{"id":"cf62c277.0ad588","type":"ui_chart","z":"519e3d50.eb531c","name":"Cuadro de líneas","group":"6ff0215.a73386","order":1,"width":0,"height":0,"label":"Line Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#a59ccb","#9afcc9","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":120,"wires":[[]]},{"id":"375041cb.ea86fe","type":"ui_chart","z":"519e3d50.eb531c","name":"Cuadro Barras","group":"6ff0215.a73386","order":3,"width":0,"height":0,"label":"Bar Chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":160,"wires":[[]]},{"id":"98d07122.6bedb","type":"ui_chart","z":"519e3d50.eb531c","name":"Barras Horizontales","group":"6ff0215.a73386","order":4,"width":0,"height":0,"label":"Horizontal Bar Chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1250,"y":200,"wires":[[]]},{"id":"136d4c4a.86b01c","type":"ui_text","z":"519e3d50.eb531c","group":"305a324b.14a87e","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":370,"y":120,"wires":[]},{"id":"8b71da5d.74d658","type":"range","z":"519e3d50.eb531c","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":300,"y":240,"wires":[["4e09474b.909738","56d28809.7828c"]]},{"id":"305a324b.14a87e","type":"ui_group","z":"","name":"FIRST","tab":"5712172d.18c1d8","order":1,"disp":true,"width":"6","collapse":true},{"id":"9f5f58a2.de1108","type":"ui_group","z":"","name":"SECOND","tab":"5712172d.18c1d8","order":2,"disp":true,"width":"6","collapse":true},{"id":"6ff0215.a73386","type":"ui_group","z":"","name":"THIRD","tab":"5712172d.18c1d8","order":3,"disp":true,"width":"6","collapse":true},{"id":"5712172d.18c1d8","type":"ui_tab","z":"","name":"HOME","icon":"fa-bars","disabled":false,"hidden":false}]